In [1]:

def df_from_redshift(sql, engine):
    with engine.connect().execution_options(autocommit=True) as conn:
        query = conn.execute(text(sql))
        df = pd.DataFrame(query.fetchall())
    return df

## cem-matriculados

In [ ]:
años = ['2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021','2022','2023','2024']

df1 = pd.DataFrame(columns=['clasificacion_institucion_nivel_3','total_insumo','periodo','total_cubo','diferencias'])

texto="""
        ###########################
                Matriculados por tipo institución
        ###########################
        """
print(texto)

for año in años:
        print('###########################')
        print('######   AÑO: {} ######'.format(año))
        print('###########################')

        sql_insumo = '''SELECT tipo_inst_3, count(distinct mrun) as total_insumo 
                        FROM cem.cem_mat_p_{}
                        GROUP BY tipo_inst_3
                        ORDER BY tipo_inst_3;'''.format(año)

        df_insumo = df_from_redshift(sql_insumo, engine_insumo)
        
        df_insumo['periodo'] = [año] * len(df_insumo)
        df_insumo['periodo'] = df_insumo['periodo'].astype(int)
        df_insumo = df_insumo.rename(columns={'tipo_inst_3':'clasificacion_institucion_nivel_3'})

        sql_cubo = '''SELECT a.periodo,b.clasificacion_institucion_nivel_3,count(distinct mrun) as total_cubo
              FROM estudiantes.fact_matriculados as a
              LEFT JOIN transversal.dim_institucion as b 
              ON a.codigo_institucion = b.codigo_institucion AND a.periodo = b.periodo
              WHERE a.periodo = {}
              GROUP BY a.periodo,b.clasificacion_institucion_nivel_3;'''.format(año)
        
        df_cubo = df_from_redshift(sql_cubo, engine_cubo)

        df = df_insumo.merge(df_cubo,on=['periodo','clasificacion_institucion_nivel_3'])
        df['diferencias'] = df['total_insumo'] - df['total_cubo']

        df1 = pd.concat([df1,df])

df1.loc[(df1.loc[:,'diferencias']!= 0.)].to_csv('cem_mat_tipo_inst.csv',index=False)

In [ ]:
años = ['2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021','2022','2023','2024']

df1 = pd.DataFrame(columns=['codigo_institucion','total_insumo','periodo','total_cubo','diferencias'])

texto="""
        ###########################
                Matriculados por código institucion
        ###########################
        """
print(texto)

for año in años:
        print('###########################')
        print('######   AÑO: {} ######'.format(año))
        print('###########################')

        sql_insumo = '''SELECT codigo_institucion, count(distinct mrun) as total_insumo 
                        FROM cem.cem_mat_p_{}
                        GROUP BY codigo_institucion
                        ORDER BY codigo_institucion;'''.format(año)
        
        df_insumo = df_from_redshift(sql_insumo, engine_insumo)
        
        df_insumo['periodo'] = [año] * len(df_insumo)
        df_insumo['periodo'] = df_insumo['periodo'].astype(int)
        #df_insumo = df_insumo.rename(columns={'tipo_inst_3':'clasificacion_institucion_nivel_3'})

        sql_cubo = '''SELECT a.periodo,b.codigo_institucion,count(distinct mrun) as total_cubo
              FROM estudiantes.fact_matriculados as a
              LEFT JOIN transversal.dim_institucion as b 
              ON a.codigo_institucion = b.codigo_institucion AND a.periodo = b.periodo
              WHERE a.periodo = {}
              GROUP BY a.periodo,b.codigo_institucion;'''.format(año)
        
        df_cubo = df_from_redshift(sql_cubo, engine_cubo)

        df = df_insumo.merge(df_cubo,on=['periodo','codigo_institucion'])
        df['diferencias'] = df['total_insumo'] - df['total_cubo']

        df1 = pd.concat([df1,df])

df1.loc[(df1.loc[:,'diferencias']!= 0.)].to_csv('cem_mat_cod_inst.csv',index=False)

## cem-titulados

In [ ]:
años = ['2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021','2022','2023']

df1 = pd.DataFrame(columns=['clasificacion_institucion_nivel_3','total_insumo','periodo','total_cubo','diferencias'])

texto="""
        ###########################
                Titulados por tipo institución
        ###########################
        """
print(texto)

for año in años:
        print('###########################')
        print('######   AÑO: {} ######'.format(año))
        print('###########################')

        sql_insumo = '''SELECT tipo_inst_3, count(mrun) as total_insumo 
                        FROM cem.cem_tit_p_{}
                        GROUP BY tipo_inst_3
                        ORDER BY tipo_inst_3;'''.format(año)

        df_insumo = df_from_redshift(sql_insumo, engine_insumo)
        
        df_insumo['periodo'] = [año] * len(df_insumo)
        df_insumo['periodo'] = df_insumo['periodo'].astype(int)
        df_insumo = df_insumo.rename(columns={'tipo_inst_3':'clasificacion_institucion_nivel_3'})

        sql_cubo = '''SELECT a.periodo,b.clasificacion_institucion_nivel_3,count(mrun) as total_cubo
              FROM estudiantes.fact_titulados as a
              LEFT JOIN transversal.dim_institucion as b 
              ON a.codigo_institucion = b.codigo_institucion AND a.periodo = b.periodo
              WHERE a.periodo = {}
              GROUP BY a.periodo,b.clasificacion_institucion_nivel_3;'''.format(año)
        
        df_cubo = df_from_redshift(sql_cubo, engine_cubo)

        df = df_insumo.merge(df_cubo,on=['periodo','clasificacion_institucion_nivel_3'])
        df['diferencias'] = df['total_insumo'] - df['total_cubo']

        df1 = pd.concat([df1,df])

df1.loc[(df1.loc[:,'diferencias']!= 0.)].to_csv('cem_tit_tipo_inst.csv',index=False)

In [ ]:
años = ['2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021','2022','2023']

df1 = pd.DataFrame(columns=['codigo_institucion','total_insumo','periodo','total_cubo','diferencias'])

texto="""
        ###########################
                Titulados por código institucion
        ###########################
        """
print(texto)

for año in años:
        print('###########################')
        print('######   AÑO: {} ######'.format(año))
        print('###########################')

        sql_insumo = '''SELECT codigo_institucion, count(mrun) as total_insumo 
                        FROM cem.cem_tit_p_{}
                        GROUP BY codigo_institucion
                        ORDER BY codigo_institucion;'''.format(año)
        
        df_insumo = df_from_redshift(sql_insumo, engine_insumo)
        
        df_insumo['periodo'] = [año] * len(df_insumo)
        df_insumo['periodo'] = df_insumo['periodo'].astype(int)
        #df_insumo = df_insumo.rename(columns={'tipo_inst_3':'clasificacion_institucion_nivel_3'})

        sql_cubo = '''SELECT a.periodo,b.codigo_institucion,count(mrun) as total_cubo
              FROM estudiantes.fact_titulados as a
              LEFT JOIN transversal.dim_institucion as b 
              ON a.codigo_institucion = b.codigo_institucion AND a.periodo = b.periodo
              WHERE a.periodo = {} AND a.existencia_cem_tit = 1
              GROUP BY a.periodo,b.codigo_institucion;'''.format(año)
        
        df_cubo = df_from_redshift(sql_cubo, engine_cubo)

        df = df_insumo.merge(df_cubo,on=['periodo','codigo_institucion'])
        df['diferencias'] = df['total_insumo'] - df['total_cubo']

        df1 = pd.concat([df1,df])

df1.loc[(df1.loc[:,'diferencias']!= 0.)].to_csv('cem_tit_cod_inst.csv',index=False)

## cem-afuas

In [ ]:
años = ['2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021','2022','2023']

df1 = pd.DataFrame(columns=['beneficio_beca_fscu','total_insumo','periodo','total_cubo','diferencias'])
df2 = pd.DataFrame(columns=['tipo_alumno','total_insumo','periodo','total_cubo','diferencias'])
df3 = pd.DataFrame(columns=['quintil_ingreso','total_insumo','periodo','total_cubo','diferencias'])

for año in años:
        print('###########################')
        print('######   AÑO: {} ######'.format(año))
        print('###########################')

        texto="""
        ###########################
                Postulante por beneficio_beca_fscu
        ###########################
        """
        print(texto)

        sql_insumo = '''SELECT beneficio_beca_fscu, count(mrun) as total_insumo 
                        FROM cem.cem_afuas_p_{}
                        GROUP BY beneficio_beca_fscu
                        ORDER BY beneficio_beca_fscu;'''.format(año)
        
        df_insumo = df_from_redshift(sql_insumo, engine_insumo)
        
        df_insumo['periodo'] = [año] * len(df_insumo)
        df_insumo['periodo'] = df_insumo['periodo'].astype(int)
        #df_insumo = df_insumo.rename(columns={'tipo_inst_3':'clasificacion_institucion_nivel_3'})
        
        sql_cubo = '''SELECT beneficio_beca_fscu, count(mrun) as total_cubo 
                      FROM estudiantes.fact_asignaciones_becas
                      WHERE periodo={}
                      GROUP BY beneficio_beca_fscu
                      ORDER BY beneficio_beca_fscu;'''.format(año)
        
        df_cubo = df_from_redshift(sql_cubo, engine_cubo)

        df_cubo['periodo'] = [año] * len(df_cubo)
        df_cubo['periodo'] = df_cubo['periodo'].astype(int)

        df = df_insumo.merge(df_cubo,on=['periodo','beneficio_beca_fscu'])
        df['diferencias'] = df['total_insumo'] - df['total_cubo']

        df1 = pd.concat([df1,df])

        texto="""
        ###########################
                Postulante por tipo_alumno
        ###########################
        """
        print(texto)

        sql_insumo = '''SELECT tipo_alumno, count(mrun) as total_insumo 
                        FROM cem.cem_afuas_p_{}
                        GROUP BY tipo_alumno
                        ORDER BY tipo_alumno;'''.format(año)
        
        df_insumo = df_from_redshift(sql_insumo, engine_insumo)
        
        df_insumo['periodo'] = [año] * len(df_insumo)
        df_insumo['periodo'] = df_insumo['periodo'].astype(int)
        #df_insumo = df_insumo.rename(columns={'tipo_inst_3':'clasificacion_institucion_nivel_3'})
        
        sql_cubo = '''SELECT tipo_alumno, count(mrun) as total_cubo 
                      FROM estudiantes.fact_asignaciones_becas
                      WHERE periodo = {}
                      GROUP BY tipo_alumno
                      ORDER BY tipo_alumno;'''.format(año)
        
        df_cubo = df_from_redshift(sql_cubo, engine_cubo)

        df_cubo['periodo'] = [año] * len(df_cubo)
        df_cubo['periodo'] = df_cubo['periodo'].astype(int)

        df = df_insumo.merge(df_cubo,on=['periodo','tipo_alumno'])
        df['diferencias'] = df['total_insumo'] - df['total_cubo']

        df2 = pd.concat([df2,df])

        texto="""
        ###########################
                Postulante por quintil_ingreso
        ###########################
        """
        print(texto)

        sql_insumo = '''SELECT quintil_ingreso, count(mrun) as total_insumo 
                        FROM cem.cem_afuas_p_{}
                        GROUP BY quintil_ingreso
                        ORDER BY quintil_ingreso;'''.format(año)
        
        df_insumo = df_from_redshift(sql_insumo, engine_insumo)
        
        df_insumo['periodo'] = [año] * len(df_insumo)
        df_insumo['periodo'] = df_insumo['periodo'].astype(int)
        #df_insumo = df_insumo.rename(columns={'tipo_inst_3':'clasificacion_institucion_nivel_3'})
        
        sql_cubo = '''SELECT quintil_ingreso, count(mrun) as total_cubo 
                      FROM estudiantes.fact_asignaciones_becas
                      WHERE periodo = {}
                      GROUP BY quintil_ingreso
                      ORDER BY quintil_ingreso;'''.format(año)
        
        df_cubo = df_from_redshift(sql_cubo, engine_cubo)

        df_cubo['periodo'] = [año] * len(df_cubo)
        df_cubo['periodo'] = df_cubo['periodo'].astype(int)

        df = df_insumo.merge(df_cubo,on=['periodo','quintil_ingreso'])
        df['diferencias'] = df['total_insumo'] - df['total_cubo']

        df3 = pd.concat([df3,df])

df1.loc[(df1.loc[:,'diferencias']!= 0.)].to_csv('cem_afuas_beneficio_beca_fscu.csv',index=False)
df2.loc[(df2.loc[:,'diferencias']!= 0.)].to_csv('cem_afuas_tipo_alumno.csv',index=False)
df3.loc[(df3.loc[:,'diferencias']!= 0.)].to_csv('cem_afuas_quintil_ingreso.csv',index=False)

## cem-pfuas

In [ ]:
años = ['2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021','2022','2023']

df1 = pd.DataFrame(columns=['genero','total_insumo','periodo','total_cubo','diferencias'])
df2 = pd.DataFrame(columns=['edad','total_insumo','periodo','total_cubo','diferencias'])
df3 = pd.DataFrame(columns=['proceso','total_insumo','periodo','total_cubo','diferencias'])

for año in años:
        print('###########################')
        print('######   AÑO: {} ######'.format(año))
        print('###########################')

        texto="""
        ###########################
                Postulante por genero
        ###########################
        """
        print(texto)

        sql_insumo = '''SELECT genero, count(mrun) as total_insumo 
                        FROM cem.cem_pfuas_p_{}
                        GROUP BY genero
                        ORDER BY genero;'''.format(año)

        df_insumo = df_from_redshift(sql_insumo, engine_insumo)

        df_insumo['periodo'] = [año] * len(df_insumo)
        df_insumo['periodo'] = df_insumo['periodo'].astype(int)
        
        sql_cubo = '''SELECT genero, count(mrun) as total_cubo 
                      FROM estudiantes.fact_postulaciones_becas
                      WHERE periodo={}
                      GROUP BY genero
                      ORDER BY genero;'''.format(año)
        
        df_cubo = df_from_redshift(sql_cubo, engine_cubo)

        df_cubo['periodo'] = [año] * len(df_cubo)
        df_cubo['periodo'] = df_cubo['periodo'].astype(int)

        df = df_insumo.merge(df_cubo,on=['periodo','genero'])
        df['diferencias'] = df['total_insumo'] - df['total_cubo']

        df1 = pd.concat([df1,df])

        texto="""
        ###########################
                Postulante por edad
        ###########################
        """
        print(texto)

        sql_insumo = '''SELECT edad, count(mrun) as total_cubo 
                        FROM cem.cem_pfuas_p_{}
                        GROUP BY edad
                        ORDER BY edad;'''.format(año)

        df_insumo = df_from_redshift(sql_insumo, engine_insumo)

        df_insumo['periodo'] = [año] * len(df_insumo)
        df_insumo['periodo'] = df_insumo['periodo'].astype(int)
        
        sql_cubo = '''SELECT edad, count(mrun) as total_cubo 
                      FROM estudiantes.fact_postulaciones_becas
                      WHERE periodo={}
                      GROUP BY edad
                      ORDER BY edad;'''.format(año)
        
        df_cubo = df_from_redshift(sql_cubo, engine_cubo)

        df_cubo['periodo'] = [año] * len(df_cubo)
        df_cubo['periodo'] = df_cubo['periodo'].astype(int)

        df = df_insumo.merge(df_cubo,on=['periodo','edad'])
        df['diferencias'] = df['total_insumo'] - df['total_cubo']

        df2 = pd.concat([df2,df])

        
        texto="""
        ###########################
                Postulante por proceso
        ###########################
        """
        print(texto)

        sql_insumo = '''SELECT proceso, count(mrun) as total_cubo 
                        FROM cem.cem_pfuas_p_{}
                        GROUP BY proceso
                        ORDER BY proceso;'''.format(año)
        
        df_insumo = df_from_redshift(sql_insumo, engine_insumo)

        df_insumo['periodo'] = [año] * len(df_insumo)
        df_insumo['periodo'] = df_insumo['periodo'].astype(int)
        
        sql_cubo = '''SELECT proceso, count(mrun) as total_cubo 
                      FROM estudiantes.fact_postulaciones_becas
                      WHERE periodo={}
                      GROUP BY proceso
                      ORDER BY proceso;'''.format(año)
        
        df_cubo = df_from_redshift(sql_cubo, engine_cubo)

        df_cubo['periodo'] = [año] * len(df_cubo)
        df_cubo['periodo'] = df_cubo['periodo'].astype(int)

        df = df_insumo.merge(df_cubo,on=['periodo','proceso'])
        df['diferencias'] = df['total_insumo'] - df['total_cubo']

        df3 = pd.concat([df3,df])


df1.loc[(df1.loc[:,'diferencias']!= 0.)].to_csv('cem_pfuas_genero.csv',index=False)
df2.loc[(df2.loc[:,'diferencias']!= 0.)].to_csv('cem_pfuas_edad.csv',index=False)
df3.loc[(df3.loc[:,'diferencias']!= 0.)].to_csv('cem_pfuas_proceso.csv',index=False)